<%- include("head.ejs") %>
<body>
    <main>
        <div style="background-color: #0066EE; padding: 12px 50px 20px 50px; width: fit-content; border-radius: 20px;">
            <h1>
                <p style="color: white">Subsites</p>
            </h1>
            <ul>
                <li>
                    <a href="/all/tankmuseum"><%= mname %></a> 
                </li>
                <li>
                    <a href="/all/about"><%= aname %></a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>