<%- include("head.ejs") %>
<body>
    <main>
        <div class = "back" onclick="location.href='/'">
            <h2>Back</h2>
        </div>
        <div>
            <h1>
                <p>Subsites</p>
            </h1>
            <ul style="background-color: #0066EE; padding: 17px 40px 20px 40px; width: fit-content; border-radius: 20px;">
                <li>
                    <a href="/all/tankmuseum"><%= mname %></a> 
                </li>
                <li>
                    <a href="/all/about"><%= aname %></a>
                </li>
                <li>
                    <a href="/all/account"><%= accname %></a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>