<%- include("head.ejs") %>

    <main>
        <div>
            <h1>Welcome!</h1>
            <button onclick="location.href='/all'">
                <b>See subsites</b>
            </button>
            
        </div>
    </main>
</body>