<%- include("head.ejs") %>

    <main>
        <div>
            <h1>Welcome!</h1>
            <div style="background-color: #0066EE; color: white; padding: 12px 30px 15px 30px; width: fit-content; border-radius: 20px;">
                <a href="/all">See subsites</a>
            </div>
            
        </div>
    </main>
</body>