html {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

button:not(.button_edit) {
    padding: 20px;
    background-color: #0066EE;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.button_edit {
    text-align: center;
    align-items: center;
    line-height: 10px;
    padding: 8px;
    background-color: #0066EE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text_edit {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}
div {
    margin: auto;
    margin-bottom: 25px;
}

h3 {
    padding-top: 50px;
}

ul {
    display: inline-block;
    text-align: left;
}

a {
    color: white;
}